@import "../../common/styles/sass/variables";
@import "../../common/components/button/Button.module";

.contact {
  width: 250px;
  height: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .formArea {
    display: flex;

    width: 250px;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .form {
      padding: 8px;
      width: 120%;

    }

    .in1 {
      padding: 8px;
      width: 120%
    }

    .in2 {
      padding: 8px;
      width: 120%
    }

    @media screen and (max-width: 384px) {
      .form {
        width: 60%
      }
      .in1 {
        width: 60%
      }
      .in2 {
        width: 60%
      }
    }
  }

  .button[type='submit'] {
    @extend .btn


  }
}




