
.header {
  height: 80px;
  width: 98%;
  padding: 0 30px;
  background-color: #0cd2f6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  flex-wrap: nowrap;
  opacity: 0.8;
  z-index: 9999;
}