@import "../common/styles/sass/variables";


.mainBlock {
    height: 100vh;
    background-color: $bgColor2;
    .presentation {
        width: 300px;
        background-color: $bgColor2;
    }
    .span{
        color:$textColor;
        font-family:$textFontFamily;
        font-size: 20px
    }
    .h2{
        color:$primaryColor;
        font-family:$titleFontFamily;
        font-size: 30px
    }
    .p{
        color:$textColor;
        font-family:$textFontFamily;
        font-size: 20px
    }

        .ava{
            width: 300px;
            height: 400px;
            background-color: #aff1ee;
        }

}




