.header{
    background-color: #c49dee;
    min-height: 20vh;
}
.remoteWorkContainer{
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.button{
   border-radius: 4px;
    background-color: springgreen;
    font-size: large;

}