@import "../../styles/sass/variables";




.btn {
  border-radius: 4px;
  background-color: $buttonColor;
  font-size:larger;
  text-decoration: none;
  &:hover{
    border-radius: 5px;
    background-color: $buttonColor;
    font-size:x-large;
    text-decoration: none;
  }
}