@import "../common/styles/sass/variables";

.nav{

    width: 300px;
    display: flex;
    justify-content: space-around;
    font-family:$textFontFamily ;
    color:$bgColor2 ;
    text-decoration: none;
&:hover{
cursor: grab;

}
    .active{
        color: red;
    }
@media screen and (max-width: 300px){
    display: none;
}
}
