@import "../common/styles/sass/variables";

.nav{

    width: 300px;
    display: flex;
    justify-content: space-around;
    font-family:$textFontFamily ;

    .general{
        text-decoration: none;
        color:black;
    }
}
